section {
    height:555px;
    padding: 50px 0 50px;
    overflow:auto;
}

/* h2, p, label {
	color: indigo;
} */

h5 {
	font-weight: bold;
}

footer {
	height: 45px;
	padding: 10px 0 10px 50px;
}

.divider {
		    height:50px;
}

.bg-1 {
	background: url('/images/background01.jpg') no-repeat center center fixed;
    color:#fff;
    background-size:cover;
}
  
.bg-2 {
	background: url('/images/background02.jpg') no-repeat center center fixed;
    color:#fff;
    background-size:cover;
    height:750px;
}

.bg-3 {
	background: url('/images/background03.jpg') no-repeat bottom center fixed;
    color:#fff;
    background-size:cover;
}

#photo {
	border-radius: 50%;
	border-style: solid;
	margin: 75px 0 20px;
}

#name, a, h2, p, label {
	color: rgb(124, 18, 69);
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff,
	    -1px 1px 0 #fff,
	    1px -1px 0 #fff,
	    -1px -1px 0 #fff,
	    0px 1px 0 #fff,
	    0px -1px 0 #fff,
	    -1px 0px 0 #fff,
	    1px 0px 0 #fff,
	    2px 2px 0 #fff,
	    -2px 2px 0 #fff,
	    2px -2px 0 #fff,
	    -2px -2px 0 #fff,
	    0px 2px 0 #fff,
	    0px -2px 0 #fff,
	    -2px 0px 0 #fff,
	    2px 0px 0 #fff,
	    1px 2px 0 #fff,
	    -1px 2px 0 #fff,
	    1px -2px 0 #fff,
	    -1px -2px 0 #fff,
	    2px 1px 0 #fff,
	    -2px 1px 0 #fff,
	    2px -1px 0 #fff,
	    -2px -1px 0 #fff;
}

#about {
	font-size: 20px;
    text-align: center;
}

.parent {
    width: 100%;
    height: 175px;
    overflow: hidden;
    cursor: pointer;
    padding:20px;
}
 
.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
} 

.bgOne {background-image: url(/images/evite.jpg);}
.bgTwo {background-image: url(/images/nytreact.jpg);}
.bgThree {background-image: url(/images/store.jpg);}
.bgFour {background-image: url(/images/scraper.jpg);}
.bgFive {background-image: url(/images/music.jpg);}
.bgSix {background-image: url(/images/burger.jpg);}
.bgSeven {background-image: url(/images/trivia.jpg);}
.bgEight {background-image: url(/images/giftastic.jpg);}

a.demo { 
    font-size: 35px;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
}
 
.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
 
.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}
 
.parent:hover a, .parent:focus a {
    display: block;
}
 
.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.55);
}

.social {
    padding: 10px;
}